@font-face {
    font-family: 'Zekton';
    src: url(/assets/fonts/zekton-rg.otf);
}

@font-face {
    font-family: 'Neuropolitical';
    src: url(/assets/fonts/neuropolitical-rg.otf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Zekton';
    font-weight: bold;
    letter-spacing: 1px;
}

#status-bar {
    max-width: 575px;
    width: auto;
    margin-bottom: 10px;
}

#start {
    font-family: 'Neuropolitical';
    text-transform: uppercase;
    border: none;
    border-radius: 13px 13px 0 0;
    transition: opacity 350ms;
    padding: 7px 15px;
}

#start.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 500ms;
}

#board {
    border-radius: 13px;
    background-color: #000;
    height: 500px;
    max-width: 500px;
    width: auto;
}

#green {
    background-color: #2e8b57;
}

#red {
    background-color: #dc143c;
}

#yellow {
    background-color: #f0e68c;
}

#blue {
    background-color: #4169e1;
}

.shape {
    opacity: .5;
    transition: opacity 150ms;
    border: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.underline {
    text-decoration: none;
}
